*{
    padding:0;
    margin:0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #050a30;
    color:#fff;
}
.container{
    width:90%;
    margin:12%;
    max-width:700px;
}
.display{
    display:flex;
    align-items: center;
    justify-content:space-between;
    width:80%;
    height:100px;
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: #fff;
    padding:26px 20px;
    border-radius: 5px;
}
.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: #21b6a8;
    border-bottom: 4ps solid #7ec8e3;
    padding-bottom: 7px;
}
.display input{
    border:0;
    outline:0;
    font-size: 24px;
}
.container button img{
    width:28px;
    margin-right: 10px;
}
.container button{
    border: 0;
    outline: 0;
    background:#7ec8e3;
    color:#fff;
    font-size: 22px;
    font-weight: 300;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:16px 26px;
    border-radius: 5px;
    cursor: pointer;
}
.container img{
    cursor:pointer;
}
.copy-wrapper {
    position: relative; 
    display: inline-block;
  }
  
  .tooltip {
    visibility: hidden;      
    background-color: #333;   
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    top: -40px;  
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  .copy-wrapper:hover .tooltip {
    visibility: visible;
  }
  .tooltip::after {
    content: "";
    position: absolute;
    bottom: -10px; 
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }
  
  